/* O nome fica Header.MODULE.css para que ele seja atrelado somente ao 
 escopo do arquivo Header.jsx*/
/* usar SEMPRE sitações as CLASS, não usar ID, ou tag */

.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}
.header img {
  height: 2rem;
}